{% extends 'base.html.twig' %}

{% block title %}Caroussel{% endblock %}

{% block body %}
    <h1>Caroussel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ caroussel.id }}</td>
                <th>Photo</th>
                <td>{{ caroussel.photo }}</td>
                {# <td>{{ dump(caroussel.photo) }}</td> #}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_caroussel_index') }}">back to list</a>

    <a href="{{ path('app_caroussel_edit', {'id': caroussel.id}) }}">edit</a>

    {{ include('caroussel/_delete_form.html.twig') }}
{% endblock %}
