{% extends 'base.html.twig' %}

{% block title %}Gestion des formules
{% endblock %}

{% block body %}
	<div class="page">
		<h1>liste des formules</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Déscription</th>
					<th>Prix</th>
					<th>Photo</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for formule in formules %}
					<tr>
						<td>{{ formule.id }}</td>
						<td>{{ formule.nom }}</td>
						<td>{{ formule.description }}</td>
						<td>{{ formule.prix }}</td>
						<td>{{ formule.photo }}</td>
						<td>
							<a href="{{ path ('app_formule_show', {'id': formule.id}) }}">monter</a>
							<a href="{{ path ('app_formule_edit', {'id': formule.id}) }}">éditer</a>
							<a href="{{ path ('app_carte_add', {'id': formule.id}) }}" class="btn btn-primary btn-sm text-light bg-dark">
							<i class="fas fa-shopping-cart"></i> Ajouter
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">Aucune formule trouvé</td>

					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_formule_new') }}" class="btn btn-primary">Créer une formule</a>

		{# Mise en place en template card groupe à faire avec une boucle #}

		<div class="row row-cols-1 row-cols-md-3 g-4">
			{% for formule in formules %}
				<div class="col">
					<div class="card h-100">
						<img src="{{ asset ('uploads/images/') }}{{ formule.photo }}" class="card-img-top" alt="photo de formule">
						<div class="card-body">
							<h5 class="card-title">{{ formule.nom }}</h5>

							<p class="card-text">{{ formule.description }}</p>

						</div>
						<div class="card-footer validation">

							<small class="text-muted">{{ formule.prix }}
								€</small>
							<div>
								<a href="{{ path('app_formule_show', {'id': formule.id}) }}" class="btn btn-secondary">show</a>
								<a href="{{ path('app_formule_edit', {'id': formule.id}) }}" class="btn btn-warning">edit</a>
							</div>
						</div>
					</div>
				</div>
		{% else %}
			</div>
		{% endfor %}
	</div>
</div></div>{% endblock %}
